.ProjectRow {
    margin: 30px 10px;
    text-align: center;
}
.bg {
  
  background: rgb(235, 235, 235);
  bottom:0;
  left:-50%;
  opacity:1;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
