.Toolbar {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(42, 119, 170);
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 200px;
}
.Logo {
    margin-top: 20px;
    height: 200px;
}
.Name {
    color: white;
}
.Name h4, h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
.Name h1{
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
}
@media (max-width: 800px) {
    .Toolbar {
        display: none;
    }
}