.Header {
    padding: 75px 0px 0px;
    font-size: 35px;
    color: black;
}
.Paragraph {
    margin: 20px auto 30px;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.Center {
    text-align: center;
}

.Form {
    border-radius: 5px;
    border: 2px solid rgb(42, 119, 170);
    max-width: 50%;
    min-width: 350px;
    margin: auto;
    padding: 25px 25px 5px;
    background-color: rgb(248, 248, 248);
}
.Input {
    width: 100%;
    margin: 15px 0px;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 2px 6px #2b78ab;
}
.SubmitButton{
    border-radius: 5px;
    border: 1px transparent;
    padding: 10px 5px;
    /* margin-top: 20px; */
    width: 150px;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: rgb(42, 119, 170);
    color: white;
    cursor: pointer;
    transition: 0.7s;
}
.SubmitButton:hover{
    background-color:rgb(255, 153, 0);
    transition: 0.7s;
}
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
   background: rgb(235, 235, 235);
  bottom:0;
  left:-50%;
  opacity:1;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}