.SocialLinks {
    text-align: center;
    margin-top: 14vh;
}
.SocialLink {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.SocialLink:hover{
    color: rgb(42, 119, 170);
    background-color: white;
    transition: 0.5s;
}