body{
    background-color: rgb(235, 235, 235);
}
.TextCenter{
    text-align: center;
}
.ProjectName {
    margin-top: 20px;
    font-size: 50px;
    color: black;
    font-weight: 600;
    letter-spacing: 3px;

}
button {
    margin: 10px;
}
.Center{
    justify-content: center;
}
.Pitch{
    padding: 25px;
    color: black;
    font-size: 20px;
}
.Picture {
    padding: 30px 30px 15px;
    margin: auto;
}
.Picture img {
    width: 100%;
    max-width: 700px;
    border: 2px solid black;
}
.List{
    padding-left: 30px;
}