.Project {
    padding: 20px;
}
h2 {
    color: white;
    font-weight: 600;
}
.Logo img{
    width: 100%;
    max-width: 400px;
    transition: 0.7s;
    border: 2px solid rgb(4, 106, 173);
}
.Logo img:hover{
    transform: scale(1.05, 1.05);
}
